<div class="container band">

  <div class="item" *ngFor="let event of events | async">
    <div class="card">
      <article>
        <header>
          <div class="status">
            <p title="Event status">{{event.status}}</p>
          </div>
          <div class="header-container">
            <p>{{event.start}}</p>
            <p title="sold tickets / total tickets">{{event.quantity_sold}} / {{event.quantity_total}}</p>
          </div>
          <span>Days to the event: {{event.daysLeft}}</span>
        </header>
        <a target="_blank" href="{{event.url}}" title="Go to event page on Eventbrite"><h1>{{event.name}}</h1></a>
        <section *ngFor="let ticket of event.tickets">
          <div class="subheader">Tickets: {{ticket.name}}</div>
          <div class="row">
            <div class="col s6">
              <h2>{{ticket.quantity_total}}</h2>
              <p>Total</p>
            </div>
            <div class="col s6">
              <h2>{{ticket.quantity_sold}}</h2>
              <p>Sold</p>
            </div>
          </div>
        </section>
        <section>
          <div class="subheader">Sales period</div>
          <div class="row">
            <div class="col s6">
              <h2>{{event.salesDays}}</h2>
              <p>Total days</p>
            </div>
            <div class="col s6">
              <h2>{{event.salesDaysLeft}}</h2>
              <p>Days left</p>
            </div>
          </div>
        </section>
        <section>
          <div class="subheader">Registrations per day</div>
          <app-reg-chart [salesHistory]="event.salesHistory"></app-reg-chart>
        </section>
      </article>
    </div>
  </div>
</div>
